/*Destaques -------------------------------------------------------------------------------*/
.destaque { grid-area: main; background: linear-gradient(rgba(0,0,0,0.8), 
			rgba(0,0,0,0.5)),url(../img/meeting5_red.jpg)no-repeat center/cover; }
.destaque span, strong { font-size: 1.5em; }
.destaque span { color: yellow; }
			.titulo-destaque_1 { color: #fff; font-size: 1.9em; width: 100%;
				position: relative; left: 10px; top: 60px; font-weight: none; }
			.paragrafo-destaque_1 { color: #fff; font-size: 1.8em; width: 100%;
				position: relative; left: 150px; top: 40px; }
			.titulo-destaque_2 { color: #fff; font-size: 1.9em; width: 100%;
				position: relative; left: 200px; top: 80px; font-weight: none; }
			.paragrafo-destaque_2 { color: #fff; font-size: 1.8em; width: 100%;
				position: relative; left: 200px; top: 40px; }
			.destaque-cta { background: #b90415;; border: 3px solid #b90415; position: relative;
							top: 100px; left: 450px; padding: 1em 2em; border-radius: 30px; color: #fff; 
							font-size: 1.5em; }
			.destaque-cta:hover { text-decoration: none; background: #fff; color: #b90415; 
								border: 3px solid #b90415; }
/*Fim dos destaques */