/*Estilos gerais ---------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Open.Sans:300,400,600,700,800&display=swap');

body { padding: 0; margin: 0; overflow-x: hidden; }
	.wrapper { height: 1200px; overflow: hidden; display: grid; 
				grid-template-areas: "nav" "main" "footer"; 
				grid-template-rows: 10% 69% 21%; font-family: 'Open Sans', sans-serif; }
/*Fim estilos gerais -----------------------------------------------------------------------*/

.destaque {grid-area: main; background: linear-gradient(rgba(0,0,0,0.8), 
			rgba(0,0,0,0.5)),url(../../img/documentacao2.jpg)no-repeat center/cover;  color: #fff; }
	.destaque-titulo { font-size: 2em; margin: 1em 0; }
	.destaques-lista li { list-style: none; margin-bottom: 1em;}
	.destaques-lista a { color: #fff; }
	.destaques-lista strong { color: yellow; }
	.destaques-lista a:hover { color: #fff; }

/* rodape */
.rodape-itens h6 { color: #fff; font-size: 1.7em; font-weight: bold; 
					position: relative; left: 50px; top: 50px; }
.rodape-itens-lista { position: relative; right: 160px; top: 60px; }
.form-news { position: relative; right: 150px; }
.rodape-newsletter { color: #fff; font-weight: bold; position: relative; 
						right: 150px; font-size: 1.7em; }
.redes-sociais { position: relative; right: 170px; }
/*                 MEDIA        QUERIES                       */

@media (max-width: 420px) {

/*Estilos gerais*/
.wrapper { height: 1400px; grid-template-rows: 10% 60% 34%; }
/*Fim estilos gerais*/

/*Navegação*/
.logo { position: relative; right: 1.5em; }
.navegacao-itens-lista { position: relative; right: 25em; top: 5em;}
.navegacao-itens-lista li a { font-size: 0.8em; }
/*Fim da navegação*/

/*Destaque*/
.destaque-titulo { font-size: 1.5em; position: relative; left: 1em; }
.destaques-lista { width: 32%; }
.destaques-lista li a { font-size: 0.8em; position: relative; right: 2.5em; }
/*Fim destaque */

/*rodapé*/
.rodape-itens h6 { color: #fff; font-weight: bold; font-size: 0.8em; position: relative; top: 50px; 
					left: 10px; width: 200px; height: 70%; }
.rodape-newsletter { position: relative; right: 345px; top: 200px; font-size: 1em; 
						color: #fff; font-weight: bold; }
.redes-sociais { position: relative; right: 980px; top: 292px; width: 400px; display: flex; }
.rodape-itens-lista { position: relative; right: 135px; font-size: 0.9em; top: 30px; }
.rodape-itens-lista li a { font-size: 0.8em; }
.form-news { position: relative; right: 345px; top: 196px; }
/*Fim do rodapé*/

}

@media (min-width: 421px) and (max-width: 870px) {

	/* rodape */
.rodape-itens { position: relative; }
.rodape-itens-lista { font-size: 0.8em; position: relative; right: 30px;
						width: 350px; top: 0px; }
.redes-sociais li { position: relative; top: 100px; right: 310px; 
					list-style: none; width: 200px;}
.form-news { position: relative; right: 60px; }
.rodape-newsletter { color: #fff; font-weight: bold; position: relative; 
						right: 60px; font-size: 1.7em; }
.linkedin, .facebook, .whatsapp, .instagram { height: 25px; margin-right: 0; }
/*Fim rodape*/

}