.rodape {grid-area: footer; background: #222; }
	.rodape-itens { display: flex; }
	.rodape-itens-lista li { color: #fff; list-style: none; position: relative; color: #fff;  top: 50px; 
								margin-bottom: 1em; }
	.rodape-itens-lista li a, p { color: #999; }
	.rodape-itens-lista p { position: relative; top: 50px; }
	.dev { position: relative; top: 500px; right: 1040px; color: #888; font-size: 0.8em; }
	.rodape-titulo { color: #fff; font-size: 1.7em; font-weight: bold; }
	#newsletter { position: relative; top: 50px; left: 50px; }
	.redes-sociais li a { color: #fff; position: relative; top: 50px; left: 50px;
						margin-right: 1em; }
	.input-news { width: 250px; margin-right: 1em; border-top-left-radius: 10px; 
					border-bottom-left-radius: 10px; border: none; }
	.form-news { display: flex; }
	.submit-news { background: #000; border: 2px solid #fff; 
					border-top-right-radius: 10px; border-bottom-right-radius: 10px; padding: 0 1em; 
					position: relative; right: 20px; }
	.news-angle-right { cursor: pointer; color: #fff; }
